<!-- Main -->
<main>
  <!-- hero -->
  <section class="section hero">
    <div class="container">
      <h1 class="hero__title">Ефективні рішення для<br />вашого бізнесу</h1>
      <button class="button" type="button" data-modal-open>
        Замовити послугу
      </button>
    </div>
  </section>

  <!-- features -->
  <section class="section features">
    <div class="container">
      <h2 class="title visually-hidden">Особлівості студії</h2>

      <ul class="features__list list">
        <li class="features__item">
          <div class="features__icon">
            <svg width="70" height="70">
              <use href="./images/icons.svg#icon-antenna"></use>
            </svg>
          </div>
          <h3 class="title-second features-title-second">УВАГА ДО ДЕТАЛЕЙ</h3>
          <p class="features__text">
            Ідейні міркування, і навіть початок повсякденної роботи з формування
            позиції.
          </p>
        </li>

        <li class="features__item">
          <div class="features__icon">
            <svg width="70" height="70">
              <use href="./images/icons.svg#icon-clock"></use>
            </svg>
          </div>
          <h3 class="title-second features-title-second">ПУНКТУАЛЬНІСТЬ</h3>
          <p class="features__text">
            Завдання організації, особливо рамки і місце навчання кадрів тягне у
            себе.
          </p>
        </li>

        <li class="features__item">
          <div class="features__icon">
            <svg width="70" height="70">
              <use href="./images/icons.svg#icon-diagram"></use>
            </svg>
          </div>
          <h3 class="title-second features-title-second">ПЛАНУВАННЯ</h3>
          <p class="features__text">
            Так само консультація з широким активом значною мірою зумовлює.
          </p>
        </li>

        <li class="features__item">
          <div class="features__icon">
            <svg width="70" height="70">
              <use href="./images/icons.svg#icon-astronaut"></use>
            </svg>
          </div>
          <h3 class="title-second features-title-second">СУЧАСНІ ТЕХНОЛОГІЇ</h3>
          <p class="features__text">
            Значимість цих проблем настільки очевидна, що реалізація планових
            завдань.
          </p>
        </li>
      </ul>
    </div>
  </section>

  <!-- services -->
  <section class="section services">
    <div class="container">
      <h2 class="title">Чим ми займаємося</h2>

      <ul class="services__list list">
        <li class="services__item">
          <div class="services__box">
            <a href="#">
              <img
                class="image"
                src="./images/box-1.jpg"
                alt="Робочий стіл на якому стоїть монітор, планшет, руки людини набирають текст на клавіатурі, поряд лист бумаги з схемою"
                width="370"
              />
              <h3 class="title-second title-services">Десктопні додатки</h3>
            </a>
          </div>
        </li>

        <li class="services__item">
          <div class="services__box">
            <a href="#">
              <img
                class="image"
                src="./images/box-2.jpg"
                alt="Руки держать мобільний телефон, на єкрані ноутбука зображено 3 мобільних телефона"
                width="370"
              />
              <h3 class="title-second title-services">Мобільні додатки</h3>
            </a>
          </div>
        </li>

        <li class="services__item">
          <div class="services__box">
            <a href="#">
              <img
                class="image"
                src="./images/box-3.jpg"
                alt="Руки держать планшет, на якому зображено кольорову фігуру"
                width="370"
              />
              <h3 class="title-second title-services">Дизайнерські рішення</h3>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <!-- staff -->
  <section class="section staff">
    <div class="container">
      <h2 class="title">Наша команда</h2>
      <ul class="staff__list list">
        <!-- Card 1 -->
        <li class="staff-card">
          <img
            class="image"
            srcset="
              ./images/img-1-1x.jpg  270w,
              ./images/img-1-3x.jpg  810w,
              ./images/img-1-4x.jpg 1080w
            "
            src="./images/img-1-1x.jpg"
            alt="Зображення Ігор Дем'яненко"
            sizes="(min-width: 1200px) 25vw, (min-width: 768px) 50vw, 100vw"
          />

          <div class="staff-card__description">
            <h3 class="staff-card__title">Ігор Дем'яненко</h3>
            <p class="staff-card__text" lang="en">Product Designer</p>
            <ul class="socials list">
              <li class="socials-item">
                <a class="socials-item__link link" href="">
                  <svg width="20" height="20">
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>

              <li class="socials-item">
                <a class="socials-item__link link" href="">
                  <svg width="20" height="20">
                    <use href="./images/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>

              <li class="socials-item">
                <a class="socials-item__link link" href="">
                  <svg width="20" height="20">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>

              <li class="socials-item">
                <a class="socials-item__link link" href="">
                  <svg width="20" height="20">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <!-- Cadr 2 -->
        <li class="staff-card">
          <img
            class="image"
            srcset="
              ./images/img-2-1x.jpg  270w,
              ./images/img-2-2x.jpg  540w,
              ./images/img-2-3x.jpg  810w,
              ./images/img-2-4x.jpg 1080w
            "
            src="./images/img-2-1x.jpg"
            alt="Зображення Микола Тарасов"
            sizes="(min-width: 1200px) 25vw, (min-width: 768px) 50vw, 100vw"
          />

          <div class="staff-card__description">
            <h3 class="staff-card__title">Ольга Рєпіна</h3>
            <p class="staff-card__text" lang="en">Frontend Developer</p>
            <ul class="socials list">
              <li class="socials-item">
                <a class="socials-item__link link" href="">
                  <svg width="20" height="20">
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>

              <li class="socials-item">
                <a class="socials-item__link link" href="">
                  <svg width="20" height="20">
                    <use href="./images/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>

              <li class="socials-item">
                <a class="socials-item__link link" href="">
                  <svg width="20" height="20">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>

              <li class="socials-item">
                <a class="socials-item__link link" href="">
                  <svg width="20" height="20">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <!-- Card 3 -->
        <li class="staff-card">
          <img
            class="image"
            srcset="
              ./images/img-3-1x.jpg  270w,
              ./images/img-3-2x.jpg  540w,
              ./images/img-3-3x.jpg  810w,
              ./images/img-3-4x.jpg 1080w
            "
            src="./images/img-3-1x.jpg"
            alt="Зображення Михайло Єрмаков"
            sizes="(min-width: 1200px) 25vw, (min-width: 768px) 50vw, 100vw"
          />

          <div class="staff-card__description">
            <h3 class="staff-card__title">Микола Тарасов</h3>
            <p class="staff-card__text" lang="en">Marketing</p>
            <ul class="socials list">
              <li class="socials-item">
                <a class="socials-item__link link" href="">
                  <svg width="20" height="20">
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>

              <li class="socials-item">
                <a class="socials-item__link link" href="">
                  <svg width="20" height="20">
                    <use href="./images/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>

              <li class="socials-item">
                <a class="socials-item__link link" href="">
                  <svg width="20" height="20">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>

              <li class="socials-item">
                <a class="socials-item__link link" href="">
                  <svg width="20" height="20">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <!-- cadr 4 -->
        <li class="staff-card">
          <img
            class="image"
            srcset="
              ./images/img-4-1x.jpg  270w,
              ./images/img-4-2x.jpg  540w,
              ./images/img-4-3x.jpg  810w,
              ./images/img-4-4x.jpg 1080w
            "
            src="./images/img-4-1x.jpg"
            alt="Зображення Ігора Дем'яненка"
            sizes="(min-width: 1200px) 25vw, (min-width: 768px) 50vw, 100vw"
          />

          <div class="staff-card__description">
            <h3 class="staff-card__title">Михайло Єрмаков</h3>
            <p class="staff-card__text" lang="en">UI Designer</p>
            <ul class="socials list">
              <li class="socials-item">
                <a class="socials-item__link link" href="">
                  <svg width="20" height="20">
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>

              <li class="socials-item">
                <a class="socials-item__link link" href="">
                  <svg width="20" height="20">
                    <use href="./images/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>

              <li class="socials-item">
                <a class="socials-item__link link" href="">
                  <svg width="20" height="20">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>

              <li class="socials-item">
                <a class="socials-item__link link" href="">
                  <svg width="20" height="20">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <!-- customers -->
  <section class="section customers">
    <div class="container">
      <h2 class="title">Постійні клієнти</h2>

      <ul class="customers__list list">
        <li class="customers__item">
          <a class="customers__link link" href="">
            <svg width="106" height="60">
              <use
                class="customers__icon"
                href="./images/icons.svg#icon-logo-1"
              ></use>
            </svg>
          </a>
        </li>

        <li class="customers__item">
          <a class="customers__link link" href="">
            <svg width="106" height="60">
              <use
                class="customers__icon"
                href="./images/icons.svg#icon-logo-2"
              ></use>
            </svg>
          </a>
        </li>

        <li class="customers__item">
          <a class="customers__link link" href="">
            <svg width="106" height="60">
              <use
                class="customers__icon"
                href="./images/icons.svg#icon-logo-3"
              ></use>
            </svg>
          </a>
        </li>

        <li class="customers__item">
          <a class="customers__link link" href="">
            <svg width="106" height="60">
              <use
                class="customers__icon"
                href="./images/icons.svg#icon-logo-4"
              ></use>
            </svg>
          </a>
        </li>

        <li class="customers__item">
          <a class="customers__link link" href="">
            <svg width="106" height="60">
              <use
                class="customers__icon"
                href="./images/icons.svg#icon-logo-5"
              ></use>
            </svg>
          </a>
        </li>

        <li class="customers__item">
          <a class="customers__link link" href="">
            <svg width="106" height="60">
              <use
                class="customers__icon"
                href="./images/icons.svg#icon-logo-6"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <!-- portfolio -->
  <section class="section portfolio">
    <div class="container">
      <h1 class="title visually-hidden">Портфоліо</h1>

      <ul class="filter list">
        <li class="filter__item">
          <button class="filter__button" type="button">Усі</button>
        </li>
        <li class="filter__item">
          <button class="filter__button" type="button">Веб-сайти</button>
        </li>
        <li class="filter__item">
          <button class="filter__button" type="button">Додатки</button>
        </li>
        <li class="filter__item">
          <button class="filter__button" type="button">Дизайн</button>
        </li>
        <li class="filter__item">
          <button class="filter__button" type="button">Маркетинг</button>
        </li>
      </ul>

      <ul class="activities list">
        <li class="activities__item">
          <a class="activities__link link" href="#">
            <div class="activities__overlay">
              <img
                class="image"
                srcset="
                  ./images/portf-1-1x.jpg  370w,
                  ./images/portf-1-2x.jpg  740w,
                  ./images/portf-1-3x.jpg 1110w
                "
                src="./images/portf-1-1x.jpg"
                alt="Зображення ноутбука з портфоліо"
                sizes="(min-width: 1170px) 33vw, (min-width: 768px) 50vw, 100vw"
              />

              <p class="activities__text-overlay">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>

            <div class="activities__description">
              <h2 class="activities__title">Технокряк</h2>
              <p class="activities__text">Веб-сайт</p>
            </div>
          </a>
        </li>

        <li class="activities__item">
          <a class="activities__link link" href="#">
            <div class="activities__overlay">
              <img
                class="image"
                srcset="
                  ./images/portf-2-1x.jpg  370w,
                  ./images/portf-2-2x.jpg  740w,
                  ./images/portf-2-3x.jpg 1110w
                "
                src="./images/portf-2-1x.jpg"
                alt="Зображення двох баскетболістів"
                sizes="(min-width: 1170px) 33vw, (min-width: 768px) 50vw, 100vw"
              />

              <p class="activities__text-overlay">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволитьвідвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
            <div class="activities__description">
              <h2 class="activities__title" lang="en">
                Постер New Orlean vs Golden Star
              </h2>
              <p class="activities__text">Дизайн</p>
            </div>
          </a>
        </li>

        <li class="activities__item">
          <a class="activities__link link" href="#">
            <div class="activities__overlay">
              <img
                class="image"
                srcset="
                  ./images/portf-3-1x.jpg  370w,
                  ./images/portf-3-2x.jpg  740w,
                  ./images/portf-3-3x.jpg 1110w
                "
                src="./images/portf-3-1x.jpg"
                alt="Зображення логотипу ресторана"
                sizes="(min-width: 1170px) 33vw, (min-width: 768px) 50vw, 100vw"
              />

              <p class="activities__text-overlay">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
            <div class="activities__description">
              <h2 class="activities__title">Ресторан Seafood</h2>
              <p class="activities__text">Додаток</p>
            </div>
          </a>
        </li>

        <li class="activities__item">
          <a class="activities__link link" href="#">
            <div class="activities__overlay">
              <img
                class="image"
                srcset="
                  ./images/portf-4-1x.jpg  370w,
                  ./images/portf-4-2x.jpg  740w,
                  ./images/portf-4-3x.jpg 1110w
                "
                src="./images/portf-4-1x.jpg"
                alt="Зображення навушників"
                sizes="(min-width: 1170px) 33vw, (min-width: 768px) 50vw, 100vw"
              />

              <p class="activities__text-overlay">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
            <div class="activities__description">
              <h2 class="activities__title">
                Проєкт <span lang="en">Prime</span>
              </h2>
              <p class="activities__text">Маркетинг</p>
            </div>
          </a>
        </li>

        <li class="activities__item">
          <a class="activities__link link" href="#">
            <div class="activities__overlay">
              <img
                class="image"
                srcset="
                  ./images/portf-5-1x.jpg  370w,
                  ./images/portf-5-2x.jpg  740w,
                  ./images/portf-5-3x.jpg 1110w
                "
                src="./images/portf-5-1x.jpg"
                alt="Зображення двох коробок"
                sizes="(min-width: 1170px) 33vw, (min-width: 768px) 50vw, 100vw"
              />

              <p class="activities__text-overlay">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
            <div class="activities__description">
              <h2 class="activities__title">
                Проєкт <span lang="en">Boxes</span>
              </h2>
              <p class="activities__text">Додаток</p>
            </div>
          </a>
        </li>

        <li class="activities__item">
          <a class="activities__link link" href="#">
            <div class="activities__overlay">
              <img
                class="image"
                srcset="
                  ./images/portf-6-1x.jpg  370w,
                  ./images/portf-6-2x.jpg  740w,
                  ./images/portf-6-3x.jpg 1110w
                "
                src="./images/portf-6-1x.jpg"
                alt="Зображено монітор, на якому зображено інтернет сторінку"
                sizes="(min-width: 1170px) 33vw, (min-width: 768px) 50vw, 100vw"
              />

              <p class="activities__text-overlay">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
            <div class="activities__description">
              <h2 class="activities__title" lang="en">
                Inspiration has no Borders
              </h2>
              <p class="activities__text">Веб-сайт</p>
            </div>
          </a>
        </li>

        <li class="activities__item">
          <a class="activities__link link" href="#">
            <div class="activities__overlay">
              <img
                class="image"
                srcset="
                  ./images/portf-7-1x.jpg  370w,
                  ./images/portf-7-2x.jpg  740w,
                  ./images/portf-7-3x.jpg 1110w
                "
                src="./images/portf-7-1x.jpg"
                alt="Зображено відкритий журнал з фоторгафіями"
                sizes="(min-width: 1170px) 33vw, (min-width: 768px) 50vw, 100vw"
              />

              <p class="activities__text-overlay">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
            <div class="activities__description">
              <h2 class="activities__title">
                Видання <span lang="en">Limited Edition</span>
              </h2>
              <p class="activities__text">Дизайн</p>
            </div>
          </a>
        </li>

        <li class="activities__item">
          <a class="activities__link link" href="#">
            <div class="activities__overlay">
              <img
                class="image"
                srcset="
                  ./images/portf-8-1x.jpg  370w,
                  ./images/portf-8-2x.jpg  740w,
                  ./images/portf-8-3x.jpg 1110w
                "
                src="./images/portf-8-1x.jpg"
                alt="зображено бумажняний жетон з написом Лаб Ель Таг"
                sizes="(min-width: 1170px) 33vw, (min-width: 768px) 50vw, 100vw"
              />

              <p class="activities__text-overlay">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
            <div class="activities__description">
              <h2 class="activities__title">Проєкт LAB</h2>
              <p class="activities__text">Маркетинг</p>
            </div>
          </a>
        </li>

        <li class="activities__item">
          <a class="activities__link link" href="#">
            <div class="activities__overlay">
              <img
                class="image"
                srcset="
                  ./images/portf-9-1x.jpg  370w,
                  ./images/portf-9-2x.jpg  740w,
                  ./images/portf-9-3x.jpg 1110w
                "
                src="./images/portf-9-1x.jpg"
                alt="Зображено ноутбук та руки людини на клавіатурі"
                sizes="(min-width: 1170px) 33vw, (min-width: 768px) 50vw, 100vw"
              />

              <p class="activities__text-overlay">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
            <div class="activities__description">
              <h2 class="activities__title" lang="en">Growing Business</h2>
              <p class="activities__text">Додаток</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>
</main>
